<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
{{ css_components }}
{{ js_components }}
</head>
<body>
<Card>
<Greeting message={{ message }} />
<button type="button">Close</button>
</Card>
</body>
