{#
css = ['dialog.css']
id = ...
-#}
<dialog
  id={{id}}
  class="w-full max-w-md overflow-hidden rounded-2xl
  bg-white p-6 text-left align-middle shadow-xl
  block transition-opacity opacity-0 open:opacity-100"
>
  {{ content }}
</dialog>
