{# title = 'Example' -#}
{% do attrs.add_classes("w-full h-full m-0 p-0") -%}
<!DOCTYPE html>
<html lang="en" class="w-full h-full m-0 p-0">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
  <link rel="shortcut icon" href="/static/img/favicon.svg">
  <link href="tailwind.css" rel="stylesheet">
	{{ components_assets }}
</head>
<body {{ attrs.render() }}>
  <main class="example flex flex-col items-center justify-center w-full h-full rounded-xl overflow-hidden">
    {{ content }}
  </main>
</body>
</html>
