<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
{% for url in css -%}
<link href="/components/{{ url }}">
{% endfor -%}
{% for url in js -%}
<script src="/components/{{ url }}" defer></script>
{% endfor -%}
</head>
<body>
<Card>
<Greeting message={{ message }} />
<button type="button">Close</button>
</Card>
</body>
