{#
js = ['page.js']
css = ['page.css']

message = '___'
title = 'Hi'
-#}
<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
{{ components_assets }}
</head>
<body>
<Card>
<Greeting message={{ message }} />
<button type="button">Close</button>
</Card>
</body>
