.md-typeset code {
	font-size: 0.95em;
	font-weight: bold;
}
.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg,
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
	height: auto !important;
}
.md-footer {
	margin-top: 40px;
}

.autodoc-signature {
	margin-bottom: 20px;
}
.autodoc-docstring {
	padding-left: 20px;
	margin-bottom: 30px;
	border-left: 5px solid rgba(230, 230, 230);
}
.autodoc-members {
	padding-left: 20px;
	margin-bottom: 15px;
}


.screen-demo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#component-anatomy {
  max-width: 100%;
  padding-top: 60px;
  background:
    url(../img/ripped-paper-bottom.svg)
    center bottom -0.1rem/105%
    no-repeat,
    #fbf7f0 url(../img/ripped-paper-top.svg)
    center top -0.1rem/105%
    no-repeat;
}
#component-anatomy .screen-demo {
  max-width: 1100px;
  padding-top: 10px;
}
#component-anatomy .code img {
  width: 100%;
}
#component-anatomy .captions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  background-color: transparent;
  background-image: url(../img/component-anatomy-captions.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
@media (max-width: 930px) {
  #component-anatomy img {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    max-width: 470px;
  }
  #component-anatomy .captions {
    display: none;
  }
}
