.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg,
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
	height: auto !important;
}
.md-footer {
	margin-top: 40px;
}

.autodoc-signature {
	margin-bottom: 20px;
}
.autodoc-docstring {
	padding-left: 20px;
	margin-bottom: 30px;
	border-left: 5px solid rgba(230, 230, 230);
}
.autodoc-members {
	padding-left: 20px;
	margin-bottom: 15px;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
}
.md-typeset code {
	font-size: 0.95em;
	font-weight: bold;
}
.md-typeset .admonition, .md-typeset details {
  font-size: .8rem
}

.md-typeset  h1 {
	color: #101010;
}
[data-md-color-scheme="slate"] .md-typeset h1 {
	color: #fff;
}
[data-md-color-scheme="slate"] {
	--md-default-bg-color: #1d1d1d;
}


